@import 'base';

$COLOR_PRIMARY: $BG_PURPLE_2;
$COLOR_PRIMARY_MUTED: lighten($COLOR_PRIMARY, 20%);
$COLOR_PRIMARY_MUTED_MUTED: lighten($COLOR_PRIMARY, 40%);
$COLOR_FOREGROUND: $BG_PURPLE_2;
$COLOR_BORDER: lighten($BG_PURPLE_2, 30%);
$COLOR_LIGHT_TEXT: white;
$COLOR_FOCUS: rgb(38, 143, 255, 0.35);
$COLOR_SHADOW: rgba(117, 84, 84, 0.4);
$BORDER_RADIUS: 15px;

$COLOR_MAIN_EVENT: $PINK;
$COLOR_MAIN_EVENT_BORDER: darken($COLOR_MAIN_EVENT, 30%);
$COLOR_WORKSHOP: $DARKBLUE;
$COLOR_WORKSHOP_BORDER: darken($COLOR_WORKSHOP, 15%);
$COLOR_MINI_EVENT: $PURPLE;
$COLOR_MINI_EVENT_BORDER: darken($COLOR_MINI_EVENT, 15%);
$COLOR_CHAT: $DARKYELLOW;
$COLOR_CHAT_BORDER: darken($COLOR_CHAT, 15%);
$COLOR_FOOD: $DARKGREEN;
$COLOR_FOOD_BORDER: darken($COLOR_FOOD, 15%);
